/* Header */

// banner header
.banner {
  .header {
    background-position: center center;
    background-repeat: no-repeat;
    height: 350px;
    box-sizing: border-box;
    background-size: cover;
    padding-bottom: 70px;
  }
}



