// COLOR PALETTE

// Backgrounds
$mainClr: #3EBC59;
$grayDark: #455a64;
$gray: #acacac;
$grayLight: #bdbdbd;

  // Text colors
$textDark: #212121;
$textGreyDark: #4f4f4f;
$textDefault: #828282;
$textGreyLight: #9e9e9e;
$textLight: #e0e0e0;
$bgBody: #e5e5e5;

// Bootstrap palette
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;
$white: #FFFFFF;
$black: #000;

// Font Types
@font-face {
  src: url("/assets/font/roboto/Roboto-Regular.ttf");
  font-family: Roboto, sans-serif;
}

$mainFnt: Roboto, sans-serif;
