/* Table of content  
--------------------------------------------------- */
@font-face {
  src: url("/assets/font/roboto/Roboto-Regular.ttf");
  font-family: Roboto, sans-serif; }

/* Header
--------------------------------------------------- */
/* Header */
.banner .header {
  background-position: center center;
  background-repeat: no-repeat;
  height: 350px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .banner .header .logo-header a img {
    width: 120px; }

/* Body
--------------------------------------------------- */
/** Global **/
html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -ms-font-smoothing: antialiased !important;
  min-height: 100%; }

/** Body **/
body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5; }
  body .container {
    background-color: #FFFFFF; }

#marvel-row div a img {
  width: 400px; }

/* Footer
--------------------------------------------------- */
/* Footer */
footer .greydark h4 {
  margin-bottom: 20px; }

/* Typography
--------------------------------------------------- */
/* Body */
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Responsive
--------------------------------------------------- */
@media (min-width: 320px) {
  #marvel-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #marvel-row .card-body {
      padding: 0; }
    #marvel-row div {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      padding: 10px 5px;
      text-align: center; }
      #marvel-row div h3 {
        font-size: 1.3rem; }
      #marvel-row div a img {
        width: 200px;
        margin-bottom: 15px; } }

@media (min-width: 640px) {
  #marvel-row div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; } }

@media (min-width: 960px) {
  #marvel-row div a img {
    width: 400px; } }
